.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  &_login {
    width: 500px;

    .wrapper {
      padding: 30px 24px;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
      h1 {
        text-transform: uppercase;
      }
      .group_input label {
        position: relative;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        display: block;
        margin-bottom: 6px;

        .input_icon {
          position: absolute;
          font-size: 15px;
          padding-right: 10px;
          cursor: pointer;
          top: 50%;
          right: 0;
        }
        span {
          color: #fd3d57;
        }
      }
      .group_input input {
        padding: 8px 16px;
        border: 1px solid #e9e4e4;
        margin-bottom: 20px;
        margin-top: 6px;
        display: block;
        width: 100%;
        outline: none;

        &:focus {
          border-color: #fd3d57;
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
        }
      }

      .login_actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        a {
          font-size: 16px;
        }
      }

      .login_btn button {
        width: 100%;
        border: 1px solid #fd3d57;
        background: #fd3d57;
        color: #fff;
        padding: 6px 2px;
        text-transform: uppercase;

        &:hover {
          background: #fff;
          color: #fd3d57;
          -webkit-transition: all 0.7s ease-in-out;
          -moz-transition: all 0.7s ease-in-out;
          -ms-transition: all 0.7s ease-in-out;
          -o-transition: all 0.7s ease-in-out;
          transition: all 0.7s ease-in-out;
        }
      }
    }
  }
}
