.form-recruiter-header {
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.form-container-recruiter {
  width: 100%;
}
.form-recruiter {
  max-width: 600px;
  margin: 0 auto;
}
.button {
  background-color: rgb(253, 61, 87);
  border: none;
}
.row-form > .input {
  width: 100%;
}
.text {
  color: red;
}
