.contact-background {
    border: none;
}

.headPhone {
    width: 100%;
    height: 40%;
}

.contact-card {
    height: 70px !important;
}

.contact-title {
    font-size: 24px;
    font-weight: 700;
    color: #1E40AF;
    letter-spacing: 0.16px
}

.contact-location{
    background-color: #FFF7ED;
}