.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;

  &_info {
    width: 1140px;

    .row_info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      .col_info_1 {
        width: 30%;

        .profile {
          width: 285px;

          ul.navbar {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            border-left: 1px solid #d7d7db;

            .active {
              border-left: 4px solid blue;
            }

            li a {
              background-color: rgba(0, 105, 219, 0.04);
              display: block;
              padding: 10px 16px;
              text-align: left;

              p {
                font-size: 11px;
              }
            }
          }
        }
      }
      .col_info_2 {
        width: 70%;

        .info_top {
          display: flex;
          margin-bottom: 40px;

          &_title {
            text-align: left;
          }
        }

        .list_info_user {
          li {
            width: 100%;
            display: flex;
            padding: 10px 0;
            border-bottom: 1px solid #d7d7db;
            margin-bottom: 25px;
            .name {
              width: 30%;
              text-align: left;
            }
            .name_info {
              width: 70%;
              display: flex;
              justify-content: space-between;

              a {
                svg {
                  margin-right: 10px;
                }
              }
              h5 {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
