.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;

  &_info {
    width: 1140px;

    .row_info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      .col_info_1 {
        width: 30%;

        .profile {
          width: 285px;

          ul.navbar {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            border-left: 1px solid #d7d7db;

            li {
              border-left: 5px solid blue;
            }

            .active {
              border-left: 4px solid blue;
            }

            li a {
              background-color: rgba(0, 105, 219, 0.04);
              display: block;
              padding: 10px 16px;
              text-align: left;

              p {
                font-size: 11px;
              }
            }
          }
        }
      }
      .col_info_2 {
        width: 70%;
        .form_container {
          width: 400px;
          display: flex;
          justify-content: center;

          form {
            width: 100%;

            h3 {
              text-align: left;
              text-transform: uppercase;
              font-size: 25px;
              font-weight: 700;
              margin-bottom: 15px;
            }
          }
        }
        .group_input {
          text-align: left;
        }
        .group_input label {
          display: block;

          span {
            color: #fd3d57;
          }
        }
        .group_input input {
          padding: 8px 16px;
          border: 1px solid #e9e4e4;
          margin-bottom: 20px;
          margin-top: 6px;
          display: block;
          width: 100%;
          outline: none;

          &:focus {
            border-color: #fd3d57;
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
          }
        }
        .group_input button {
          margin-top: 15px;
          width: 100%;
          border: 1px solid #fd3d57;
          background: #fd3d57;
          color: #fff;
          padding: 6px 2px;
          text-transform: uppercase;

          &:hover {
            background: #fff;
            color: #fd3d57;
            -webkit-transition: all 0.7s ease-in-out;
            -moz-transition: all 0.7s ease-in-out;
            -ms-transition: all 0.7s ease-in-out;
            -o-transition: all 0.7s ease-in-out;
            transition: all 0.7s ease-in-out;
          }
        }
        .check_password {
          text-align: left;
          display: flex;
          align-items: center;

          input[type="checkbox"] {
            width: 20px;
            height: 20px;
          }

          label {
            padding-left: 7px;
          }
        }
      }
    }
  }
}
