.job-container{
    border-bottom: 1px solid #ccc;
}
.job-wrapper{
    display: flex;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}
.company-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.job-desctiption{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.job-title{
    font-size: 18px;
}