.container-upload {
    padding-bottom: 50px;
    height: 650px;
  }
  .form-container-upload {
    width: 700px;
    height: fit-content;
    margin-top: 200px;
    margin: 100px auto 0 auto;
    height: 500px;
    padding: 0 40px;
  }
  .form-upload{
    height: 500px;
  }
  .form-group-container{
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .header-form-upload {
    text-align: center;
    font-size: 25px;
  }
  
  .image-data > img {
    width: 200px;
  }
  .form-deadline {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .btn-upload {
    background-color: rgb(253,61,87);
    color: white;
    margin-top: 20px;
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
  }
  .title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
  }
  
  .output-label {
    margin: 10px 0;
    font-weight: bold;
  }
  .ck.ck-editor__editable_inline{
    padding : 20px !important;
  }
  .output {
    padding: 10px;
    border-radius: 8px;
    white-space: pre;
    background-color: #ddd;
  }
  .description-upload{
    border : 1px solid red;
    padding-left: 50px;
  }
  @media only screen and (max-width : 735px){
    .form-container-upload{
      width: 100%;
    }
  }