.wrap-user{
    border : 1px solid red;
    cursor: pointer;
    position: relative;
}
.info-user{
    border : 1px solid black;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50px;
}
.header{
    position:fixed;
    z-index:9998;
    top: 0;
    left: 0;
    right: 0;
}
.icon-dropdown{
    position: relative;
    bottom: 4px;
    left: 20px;
    margin-left: 5px;
}
.menu-login{
    font-weight: 600;
}
.menu-dropdown{
    border : 1px solid red;
}