.button-submit{
    background-color: rgb(253,61,87);
    border: none;
}

.input {
    width: 500px;
    margin-top: 2%;
    border-radius: 0%;
    position: relative;
}

.register {
    font-size: 25px;
    font-weight: bold;
}

.input_icon {
    font-size: 15px;
    margin-top: 2%;
    background-color: white;
}

.input-group {
    width: 500px;
}

