.button-submit{
    background-color: rgb(253,61,87);
    border: none;
}

.input {
    width: 500px;
    margin-top: 2%;
    border-radius: 0%;
    position: relative;
}
.form-register-header{
    font-weight: 700;
    font-size: 25px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-register{
    width: 500px;
    padding: 30px 25px;
}
.input_icon {
    font-size: 15px;
    margin-top: 2%;
    background-color: white;
    border-left: none;
    border-radius: 0%;
}

.input-group {
    width: 500px;
}

.border-right {
    border-right: none;
}

.input-group > .input{
    width: 85%;
}
.container-register{
    margin-top: 60px;
}
.register-banner{
    width: 100%;
    height: 100%;
}
.container-register-banner{
    padding: 0 !important;
}
