.button-submit{
    background-color: rgb(253,61,87);
    border: none;
}

.input{
    width: 500px;
    height: 43.11px;
    margin-top: 2%;
    border-radius: 0%;
}

.register {
    font-size: 25px;
    font-weight: bold;
}
