.button-submit{
    background-color: rgb(253,61,87);
    border: none;
}

.input {
    width: 500px;
    margin-top: 2%;
    border-radius: 0%;
    position: relative;
}
.form-register-header{
    font-weight: 700;
    font-size: 25px;
}
.form-container{
    width: 500px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.input_icon {
    font-size: 15px;
    margin-top: 2%;
    background-color: white;
    border-left: none;
    border-radius: 0%;
}

.input-group {
    width: 500px;
}

.border-right {
    border-right: none;
}

.input-group > .input{
    width: 85%;
}

.text {
    color: red;
}

