.home-page{
    margin-top: 65px;
}
.home-banner{
    border : 1px solid black;
    height: 200px;
}
.home-jobs{
    border : 1px solid red;
}
.job-item{
    border : 1px solid black
}
.navigate-header{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}