.list-title{
    font-weight: bold;
    font-size: 30px;
}


.list-item{
    background: #f5fcff;
    margin-bottom: 20px;
    border-color: #0069db47;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #dedede;
}

.list-item:hover{
    box-shadow: 0 3px 6px 0 rgb(0 86 145 / 31%);
}

.banner {
    width:100%;
}
