.list-title{
    font-weight: bold;
    font-size: 30px;
}


.list-item{
    background: #f5fcff;
    margin-bottom: 20px;
    border-color: #0069db47;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #dedede;
}

.list-item:hover{
    box-shadow: 0 3px 6px 0 rgb(0 86 145 / 31%);
}

.banner {
    width:100%;
}

.apply-button {
    color: #fff !important;
    background-color: #0069DB !important;
}

.denied-button {
    background-color: #fd3d57 !important;
    color: #fff !important;
}

.sort {
    border: 1px solid var(--border-color);
    padding: 3px 9px;
    outline: none;
    width: 100%;
  }

.select-bar{
    background-color: #f2f2f2;
}

.confirm {
    width: 20%;
    color: white;
    font-size: 19px;
    background: #00b2a3;
    border-radius: 5px;
}

@media only screen and (max-width: 900px) {
    .view-button{
        margin-right: 8px !important ;
    }
}